body {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-nav > li > a {
    padding-top: 20px;
}

.margin-tb-3 {
    margin-top: 3em;
    margin-bottom: 3em;
}

.margin-lr-2 {
    margin-left: 2em;
    margin-right: 2em;
}

.fixed-panel {
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}

.xy-padding {
    margin-bottom: 10px;
    margin-top: 10px;
}

.alert-grey {
    color: #7d7d7d;
    background-color: #f8f8f8;
}

.alert-dark-grey {
    color: #727F8C;
    background-color: #f8f8f8;
}

em .list-group-item {
    background-color: lightblue;
    text-align: center;
}

#bootstrap-overrides .jumbo-resize {
    padding-bottom: 15px;
    padding-top: 15px;
}

.green-icon {
    color: green;
}

.center-text {
    text-align: center;
}