<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" href="webjars/bootstrap/3.2.0/css/bootstrap.min.css" media="screen"/>
    <link href="../static/css/footer-fixed-bottom.css" th:href="@{css/footer-fixed-bottom.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/page.css" th:href="@{css/page.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/diagnostics.css" th:href="@{css/diagnostics.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<nav th:replace="fragments/header :: navbar"></nav>

<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" th:each="uuid : ${uuids}">
            <a th:text="${uuidMap.get(uuid)}" th:href="@{/displayManifest(manifest=${uuid})}"></a>
        </li>
    </ol>
</div>

<div class="container">
    <div class="row">
        <div class="gutter">
            <h2>validation</h2>
        </div>
        <div class="panel panel-default panel-body">
            <div th:if="${validation_result == true}">
                <h2 class="green-icon center-text">
                    <i class="glyphicon glyphicon-ok-sign"></i>PASSED MANIFEST VALIDATION<i class="glyphicon glyphicon-ok-sign"></i>
                </h2>
                <h4><b>validated against the following shapes:</b></h4>
                <h4>workflow-model:</h4>
                <p><i class="green-icon glyphicon glyphicon-ok-sign"></i>provenance-shape.ttl</p>
                <p><i class="green-icon glyphicon glyphicon-ok-sign"></i>aggregate-shape.ttl</p>
                <h4>basic-model:</h4>
                <p><i class="green-icon glyphicon glyphicon-ok-sign"></i>annotation-shape.ttl</p>
            </div>
            <div th:if="${validation_result == false}">
                <h2 class="center-text red-icon">
                    <i class="glyphicon glyphicon-remove-sign"></i>FAILED MANIFEST VALIDATION<i class="glyphicon glyphicon-remove-sign"></i>
                </h2>
                <h4><b>validated against the following shapes:</b></h4>
                <h4>workflow-model:</h4>
                <p><i class="green-icon glyphicon glyphicon-ok-sign"></i>provenance-shape.ttl</p>
                <p><i class="red-icon glyphicon glyphicon-remove-sign"></i>aggregate-shape.ttl</p>
                <ul>
                   <li>Value for manifest.json property with path ‘mediatype’ is out of bounds</li>
                </ul>
                <h4>basic-model:</h4>
                <p><i class="green-icon glyphicon glyphicon-ok-sign"></i>annotation-shape.ttl</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12 gutter">
            <h2>preview</h2>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="tabbable">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#tab1" data-toggle="tab">info</a></li>
                        <li><a href="#tab2" data-toggle="tab">provenance</a></li>
                        <li><a href="#tab3" data-toggle="tab">aggregates</a></li>
                        <li><a href="#tab4" data-toggle="tab">annotations</a></li>
                    </ul>
                    <div class="tab-content fixed-panel xy-padding">
                        <div class="tab-pane active" id="tab1">
                            <h4><b>context</b></h4>
                            <p th:text="${manifest.getContext()}"></p>
                            <hr/>
                            <h4><b>creator</b></h4>
                            <p th:text="${manifest.getCreatedBy()}"></p>
                        </div>

                        <div class="tab-pane" id="tab2">
                            <h4><b>authors</b></h4>
                            <ul class="list-unstyled">
                                <li th:each="author : ${manifest.getAuthors()}">
                                    <p th:text="${author}"></p>
                                </li>
                            </ul>
                            <hr/>
                            <h4><b>retrieved from</b></h4>
                            <p th:text="${manifest.getRetrievedFrom()}"></p>
                            <hr/>
                            <h4><b>history</b></h4>
                            <p th:text="${manifest.getHistory()}"></p>
                        </div>

                        <div class="tab-pane" id="tab3">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="thead-inverse">
                                        <th>URI</th>
                                        <th>date/time created</th>
                                        <th>mediatype</th>
                                        <th>retrieved by</th>
                                        <th>folder</th>
                                    </thead>
                                    <tbody>
                                        <tr th:each="aggregate : ${manifest.getAggregates()}">
                                            <td th:text="${aggregate.getUri()}">uri</td>
                                            <td th:text="${aggregate.getCreatedon()}">date created</td>
                                            <td th:text="${aggregate.getMediatype()}">mediatype</td>
                                            <td th:text="${aggregate.getRetrievedby()}">retrievedby</td>
                                            <td th:text="${aggregate.getFolderlocation()}">folder</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab4">
                            <ul class="list-unstyled">
                                <li th:each="annotation : ${manifest.getAnnotations()}">
                                    <p th:text="${annotation}"></p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h2 class="gutter">profile</h2>
            <div class="panel panel-default ">
                <div class="panel-body">
                    <p><strong th:text="${manifest.getProfile()}"></strong></p>
                    <p th:if="${manifest.getProfile() == 'Workflow-centric Research Object'}">Validated against workflow shape-graph model</p>
                    <p><i>[other profile specific info to be included in future releases!!!]</i></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <h2 class="gutter">manifest specific actions</h2>
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" th:src="@{/editor(manifest=${uuid})}"></iframe>
                </div>
                <p><button class="btn btn-warning" th:onclick="|window.location.href='/rawManifest?manifest=${uuid}'|">Raw Manifest File</button></p>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="gutter">
            <h2>preview</h2>
            <img th:src="${previewLink}" style='width:100%;' border="0" alt="Null"/>
        </div>
        <div class="panel panel-default panel-body">
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: copy"></div>

<script src="webjars/jquery/2.1.4/jquery.min.js"></script>
<script src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>