<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" href="webjars/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/5.0.6/web-fonts-with-css/css/fontawesome.min.css"/>
    <link href="../static/css/footer-fixed-bottom.css" th:href="@{css/footer-fixed-bottom.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/main.css" th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/diagnostics.css" th:href="@{css/diagnostics.css}" rel="stylesheet" media="screen"/>
</head>
<body id="bootstrap-overrides">

<nav th:replace="fragments/header :: navbar"></nav>

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-12" role="main" id="main">
                <h2>Research Object Viewer Tool</h2>
            </div>
        </div>
        <div class="row">
            <blockquote><p>This is a tool for top level viewing of the resources in a research object and annotations about them. Ro-show is still under development and subject to change without warning!!</p></blockquote>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-12">
                <h2>Upload Research Object From File System</h2>
                <p>Click the "choose file" button below to select research object bundle to upload from your device file system.</p>
                <div class="alert alert-grey">
                    <strong>Don't have a research object bundle on your device?</strong>
                You can select from our ro bundle collection <a href="/external"> here</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <form method="POST" enctype="multipart/form-data" action="/">
                    <div class="form-group">
                        <input type="file" name="file" id="ZipInputFile" placeholder="upload">
                        <p class="help-block">Upload a research object!</p>
                        </input>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

                <form method="POST" name="url" action="/urlUpload">
                    <div class="form-group">
                        <input type="text" name="url" placeholder="Download URL">
                        </input>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

                <strong class="content" th:if="${message}">
                    <p th:text="${message}"></p>
                    <hr/>
                </strong>
            </div>
        </div>
    </div>

    <div class="container">
        <ol class="list-unstyled  list-group margin-b-3">
            <li class="col-sm-4 " th:each="manifest : ${manifestsUuid}">
                <div class="dash-box dash-box-color-3 margin-lr-2">
                    <div class="dash-box-icon">
                        <i class="glyphicon glyphicon-folder-open"></i>
                    </div>
                    <div class="dash-box-body">
                        <p class="fc text-lowercase" th:text="${manifests.get(manifest).getCreatedOn()}"></p>
                        <p class="fc text-lowercase" th:text="${manifests.get(manifest).getBundle_name()}"></p>
                    </div>

                    <div class="dash-box-action">
                        <a class="list-group-item" th:href="@{/displayManifest(manifest=${manifest})}">more info</a>
                    </div>
                </div>
            </li>
            </ol>
    </div>

</div>

<div th:replace="fragments/footer :: copy"></div>

<script src="webjars/jquery/2.1.4/jquery.min.js"></script>
<script src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>