<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" href="webjars/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/5.0.6/web-fonts-with-css/css/fontawesome.min.css"/>
    <link href="../static/css/footer-fixed-bottom.css" th:href="@{css/footer-fixed-bottom.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/page.css" th:href="@{css/page.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/diagnostics.css" th:href="@{css/diagnostics.css}" rel="stylesheet" media="screen"/>
</head>
<body id="bootstrap-overrides">

<nav th:replace="fragments/header :: navbar"></nav>

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-12" role="main" id="main">
                <h2>Research Object Viewer Tool</h2>
            </div>
        </div>
        <div class="row">
            <blockquote><p>This is a tool for viewing and validating the resources in a <a th:href="@{http://www.researchobject.org/}">research object</a> of any profile and displaying the metadata embedded in the manifest. It also allows you to edit the contents of the aggregated files and save your changes locally.</p>
                <div style="color:red">
                    <p>Ro-show is still under development and subject to change without warning!!</p>
                </div>
            </blockquote>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-12">
                <h2>Upload Research Object</h2>
                <p>Click the "choose file" button below to select <a th:href="@{http://www.researchobject.org/initiative/ro-bundle-zip/}">Research Object bundle</a> to upload from your device file system.
                 Alternatively, you can upload a research object via a persistent link.</p>
                <div class="alert alert-dark-grey">
                    <strong>Don't have a research object bundle on your device?</strong>
                You can select from our ro bundle collection <a href="/external"> here</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <form method="POST" enctype="multipart/form-data" action="/">
                    <div class="form-group">
                        <label class="btn btn-default">
                            <input type="file" name="file" id="ZipInputFile" placeholder="upload" style="display:none">
                                Choose File
                            </input>
                        </label>
                        <p class="help-block">Upload a research object!</p>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="col-sm-6">
                <form method="POST" name="url" action="/urlUpload">
                    <div class="form-group">
                        <input type="text" name="url" placeholder="Bundle download URL" class="form-control">
                        </input>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <strong class="center-text" th:if="${message}">
                <p th:text="${message}"></p>
                <hr/>
            </strong>
        </div>
    </div>

    <div class="container">
        <ol class="list-unstyled  list-group margin-b-3">
            <li class="col-sm-3" th:each="manifest : ${manifestsUuid}">
                <div class="dash-box dash-box-color-3 margin-lr-2">
                    <div class="dash-box-icon">
                        <i class="glyphicon glyphicon-folder-open"></i>
                    </div>
                    <div class="dash-box-body">
                        <p class="fc text-lowercase" th:text="${manifests.get(manifest).getCreatedOn()}"></p>
                        <p class="fc text-lowercase" th:text="${manifests.get(manifest).getBundle_name()}"></p>
                    </div>

                    <div class="dash-box-action">
                        <a class="list-group-item" th:href="@{/displayManifest(manifest=${manifest})}">more info</a>
                    </div>
                </div>
            </li>
            </ol>
    </div>

</div>

<div th:replace="fragments/footer :: copy"></div>

<script src="webjars/jquery/2.1.4/jquery.min.js"></script>
<script src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>