<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" href="webjars/bootstrap/3.2.0/css/bootstrap.min.css"/>
</head>
<body>

<nav th:replace="fragments/header :: navbar"></nav>

<div class="container">
    <div class="row">
        <div class="col-md-12" role="main" id="main">
            <h1>Research Object Viewer Tool</h1>
        </div>
    </div>
    <div class="row">
        <blockquote><p>This is a tool for top level viewing of the resources in a research object and annotations about them. Ro-show is still under development and subject to change without warning!!</p></blockquote>
    </div>

    <div class="row">

        <form method="POST" enctype="multipart/form-data" action="/">

            <div class="form-group">
                <label>Zip File Input</label>
                <input type="file" name="file" id="ZipInputFile"></input>
                <p class="help-block">Choose a research object zip file to upload</p>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>

        </form>
    </div>
    <hr/>

    <div class="row">

        <div class="col-sm-6 col-sm-push-6 ">
            <ul class="list-unstyled  list-group margin-b-3">
                <li th:each="manifest : ${manifests}">
                    <em>
                        <a class="list-group-item" th:href="@{/displayManifest(manifest=${manifest})}" th:text="${manifest}"></a>
                    </em>
                    <p><bold>Authors</bold><small th:text="${authorsInfo.get(manifest)}"></small></p>
                    <p><bold>Profile</bold> <small th:text="${profileInfo.get(manifest)}"></small></p>
                    <p><bold>Date Created</bold><small th:text="${dateCreatedInfo.get(manifest)}"></small></p>
                </li>
            </ul>
        </div>

        <div class="col-sm-6 col-sm-pull-6">
            <strong class="content" th:if="${message}">
                <p th:text="${message}"></p>
            </strong>
            <hr/>

            <!-- list group -->
            <ul class="list-unstyled">
                <li th:each="file : ${files}">
                    <em>
                        <a th:href="${file}" th:text="${file}" />
                    </em>
                </li>
            </ul>
        </div>

    </div>
</div>

<div th:replace="fragments/footer :: copy"></div>

</body>
</html>